{% extends 'base.html' %}

{% block title %} Create Task {% endblock %}


{% block content %}
<div class="container">
    <div class="jumbotron mt-5">

        <center>
            <form method="POST" class="form-group">

                <label>
                    <h5> Task Name : </h5>
                </label>

                <input type="text" name="name" placeholder="Please enter task name" style="width:30%">
                <br>
                <label>
                    <h5> Task Description : </h5>
                </label>
                <input type="text" name="description" placeholder="Please enter task name" style="width:30%">
                <br>
                <label>
                    <h5> Priority : </h5>
                </label>

                <input type="radio" id="l" name="priority" value="Low">
                <label >Low</label>
                <input type="radio" id="m" name="priority" value="medium">
                <label >Medium</label>
                <input type="radio" id="h" name="priority" value="high">
                <label >High</label><br>
                <br>
                
                
                

                <button type="submit" class="btn btn-secondary">Create Task</button>
            </form>
        </center>


    </div>
</div>
{% endblock %}