{% extends 'base.html' %}

{% block title %} Create TaskList {% endblock %}


{% block content %}
<div class="container">
    <div class="jumbotron mt-5">

        <center>
        <form method="POST"  class="form-group">

            <label><h5> Task List Name : </h5></label>

            <input type="text" name="name" placeholder="Please enter new task list name" style="width:30%">
            <br>
            <button type="submit" class="btn btn-secondary">Create Task List</button>

            
        </form></center>


    </div>
</div>
{% endblock %}