{% extends 'base.html' %}

{% block title %} Edit Task {% endblock %}


{% block content %}
<div class="container">
    <div class="jumbotron mt-5">

        <center>
        <form method="POST"  class="form-group">

            <label><h5> New Task Name: </h5></label>

            <input type="text" name="name" placeholder="Please enter new task name" style="width:30%">
            <br>

            <label><h5> New Description: </h5></label>

            <input type="text" name="description" placeholder="Please enter new task description" style="width:30%">
            <br>

            <label><h5> New Status : </h5></label>

            
                <input type="radio" id="m" name="status" value="Status.IN_PROGRESS">
                <label >IN_PROGRESS</label>
                <input type="radio" id="h" name="status" value="Status.DONE">
                <label >DONE</label><br>


            <button type="submit" class="btn btn-secondary">Submit</button>

            
        </form></center>


    </div>
</div>

{% endblock %}