{% extends 'base.html' %}

{% block title %} TaskLists {% endblock %}


{% block content %}

<div class="container">
    <br>
    <h5>Task Lists:</h5>
    <div class="jumbotron mt-3">
      
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for tasklist in tasklists %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{tasklists[tasklist]['name']}}</td>
                    <td>{{tasklists[tasklist]['last_updated']}}</td>
                    <td>{{tasklists[tasklist]['created_at']}}</td>
                    <td><a href="/tasks/{{loop.index}}" class="btn btn-secondary" type="submit" role="button"><i
                                class="far fa-eye"></i></a>
                        <a href="/deletetasklist/{{loop.index}}" class="btn btn-secondary" type="submit"
                            role="button"><i class="fas fa-trash"></i></a>
                        <a href="/editname/{{loop.index}}" class="btn btn-secondary" type="submit" role="button"><i
                                class="fas fa-user-edit"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <center>
            <a href="/createtasklist" class="btn btn-secondary" type="submit" role="button"><i class="fas fa-plus"></i>
                Create New TaskList</a>
        </center>
    </div>
</div>

{% endblock %}