{% extends 'base.html' %}

{% block title %} Tasks {% endblock %}


{% block content %}

<div class="container">
    <br>
    <h5>Tasks:</h5>
    <div class="jumbotron mt-3">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Description</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for index in task_list %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{tasks[index]['name']}}</td>
                    <td>{{tasks[index]['last_updated']}}</td>
                    <td>{{tasks[index]['created_at']}}</td>
                    <td>{{tasks[index]['description']}}</td>
                    <td> <a href="/deletetask/{{loop.index}}" class="btn btn-secondary" type="submit" role="button"><i
                                class="fas fa-trash"></i></a>
                        <a href="/edittask/{{loop.index}}" class="btn btn-secondary" type="submit" role="button"><i
                                class="fas fa-user-edit"></i></a>
                    </td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
        <center>
            <a href="/createtask/{{general_index}}" class="btn btn-secondary" type="submit" role="button"><i class="fas fa-plus"></i>
                Create New
                Task</a>
        </center>
    </div>
</div>
{% endblock %}
